*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(91, 132, 132);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5.5px;
}
.box-btn{
    height: 95px;
    width: 95px;
    font-size: 70px;
    color: #b0413e;
    border-radius: 5.5px;
    border: none;
    box-shadow: 2.5px;
    background-color: rgb(168, 166, 138);
}

#reset-btn{
    padding: 4px;
    font-size: 30px;
    background-color: rgb(27, 25, 25);
    color: white;
    border-radius: 5.5px;
    border: none;
}